<p>
	<abbr title="Secure Shell">SSH</abbr> is a protocol for establishing encrypted
	connections between Internet or local network hosts. Connections may be
	established using <abbr title="Internet Protocol, version 4">IPv4</abbr> or
	<abbr title="Internet Protocol, version 6">IPv6</abbr>, and <abbr>SSH</abbr>
	clients and servers are available for many platforms, ranging from aged
	<abbr>PCs</abbr> running
	<abbr title="Microsoft's MS-DOS, and compatible equivalents, was the operating system shipped with most PCs prior to Windows 95’s release">DOS</abbr>,
	through mobile phones, to supercomputers.
</p>