<span class="css-el">html</span> {
	<span class="keyword">background</span>: <span class="builtin">white</span>;
	<span class="keyword">color</span>: <span class="builtin">black</span>;
}

<span class="css-el">body</span> {
	<span class="keyword">font-family</span>: <span class="builtin">sans-serif</span>;
	<span class="keyword">font-weight</span>: <span class="number">300</span>;
	<span class="keyword">font-size</span>: <span class="number">13pt</span>;
	<span class="keyword">margin</span>: <span class="number">1em 4em</span>;
}

<span class="css-el">p</span> {
	<span class="keyword">margin</span>: <span class="number">1em 0</span>;
	<span class="keyword">line-height</span>: <span class="number">1.4</span>;
}
