html {
	background-color: #fff;
	color: #000;
}
body {
	background: #fff;
	font-family: 'Roboto', 'Helvetica', 'Helvetica Neue', sans-serif;
	font-weight: 300;
	font-size: 13pt;
	margin: 0;
	padding: 13pt;
}
p {
	margin: 1em 0;
	line-height: 1.4;
}
section {
	clear: left;
}
article>section {
	margin: 1em 0;
	border-top: solid #e2e2e2 0.1em;
}
body>section {
	margin: 1em 0;
	border-top: solid #e2e2e2 0.1em;
}
body>header+section, header+article > section:first-child {
	border-top: none transparent 0;
}
body > section, body > article, body > nav {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 960px;
}
