<div class="palette">
	<h3>Backgrounds</h3>
	<dl class="colour">
		<dt class="swatch base03">Base03</dt>
		<dd class="label base03"><code>#002b36</code></dd>
	</dl>
	<dl class="colour">
		<dt class="swatch base02">Base02</dt>
		<dd class="label base02"><code>#073642</code></dd>
	</dl>
	<dl class="colour">
		<dt class="swatch base2">Base2</dt>
		<dd class="label base2"><code>#eee8d5</code></dd>
	</dl>
	<dl class="colour">
		<dt class="swatch base3">Base3</dt>
		<dd class="label base3"><code>#fdf6e3</code></dd>
	</dl>
</div>
<div class="palette">
	<h3>Foregrounds</h3>
	<dl class="colour">
		<dt class="swatch base01">Base01</dt>
		<dd class="label base01"><code>#586e75</code></dd>
	</dl>
	<dl class="colour">
		<dt class="swatch base00">Base00</dt>
		<dd class="label base00"><code>#657b83</code></dd>
	</dl>
	<dl class="colour">
		<dt class="swatch base0">Base0</dt>
		<dd class="label base0"><code>#839496</code></dd>
	</dl>
	<dl class="colour">
		<dt class="swatch base1">Base1</dt>
		<dd class="label base1"><code>#93a1a1</code></dd>
	</dl>
</div>
