<pre class="c code"><code><span class="comment">/* The canonical sample program */</span>

<span class="preproc">#include &lt;stdio.h&gt;</span>

<span class="type">int</span>
<span class="ident">main</span>(<span class="type">int</span> <span class="param">argc</span>, <span class="type">char</span> **<span class="param">argv</span>)
{
	(<span class="type">void</span>) <span class="param">argc</span>;
	(<span class="type">void</span>) <span class="param">argv</span>;

	<span class="ident">puts</span>(<span class="string">"hello, world."</span>);

	<span class="keyword">return</span> 0;
}
</code></pre>