<p>
	The variable <var>x</var> denotes the horizontal coordinate in the plot. The formula in <code>calcplot()</code> is used to calculate the value based upon the supplied value of <var>y</var>: <code>return cos(2 * <var>y</var>);</code>
</p>
<p>
	To establish a <cite>Secure Shell</cite> (SSH) connection to a remote host, one types the <kbd>ssh</kbd> command at the shell prompt (typically ending with <samp>$</samp>). Alternatively, select the <kbd><kbd><samp>Terminal</samp></kbd> → <kbd><samp>New Remote Connection…</samp></kbd></kbd> menu option.
</p>
<p>
	Once connected, the <cite>Message of the Day</cite> (stored in <code>/etc/motd</code>) is printed, and will typically indicate the version of the operating system running on the host you’ve connected to, such as <samp>3.2.46-1 x86_64</samp>.
</p>
