code, samp {
	font-family: Inconsolata, 'DejaVu Sans Mono', Menlo, Consolas, monospace;
	font-weight: normal;
}
var {
	font-family: Arapey, serif;
	font-weight: normal;
	font-size: 1em;
	font-style: italic;
	color: inherit;
}
kbd {
	font-family: inherit;
	font-weight: normal;
	font-size: 1em;
	font-style: italic;
	color: inherit;
}
code {
	color: #cb4b16;
}
samp {
	color: #586e75;
}
code var, kbd samp {
	font-family: inherit;
	color: inherit;
}
code var {
	font-weight: bold;
}
