nav.global a:link, nav.global a:visited {
	color: inherit;
	text-decoration: inherit;
}
nav.global abbr {
	text-decoration: inherit !important;
	cursor: inherit !important;
	border: none !important;
}
nav.global {
	background: #636363;
	color: #ffffff;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border-bottom: solid #404040 1px;
}
nav.global .inner {
	margin: 0 auto;
	padding: 0;
	max-width: 986px;
	height: 39pt;
	position: relative;
}
nav.global ul {
	display: block;
	float: right;
	margin: 0;
	padding: 0;
}
nav.global li {
	font-family: 'Gotham Rounded SSm A', 'Gotham Rounded SSm B', 'Gotham Rounded A', 'Gotham Rounded B', 'Gotham Rounded', sans-serif;
	font-style: normal;
	display: block;
	float: left;
	height: 39pt;
	margin: 0;
	color: #e2e2e2;
	border-right: solid #707070 1px;
}
nav.global li:last-child {
	border-right: none;
}
nav.global li>a {
	display: block;
	height: 39pt;
	line-height: 39pt;
	color: #b2b2b2;
	padding: 0 13pt;
	font-size: 0.85em;
	text-transform: lowercase;
}
nav.global li>a:hover {
	background: #b2b2b2;
	color: #404040;
}
nav.global li.logo {
	position: absolute;
	float: none;
	top: 0;
	left: 0;
	border: none;
}
nav.global li.logo>a {
	background: #636363;
	color: #ceca13 !important;	
	font-size: 2.5em;
}
nav.global li.logo>a:hover {
	background: #636363;
	color: inherit;
}