nav.global a:link, nav.global a:visited {
	color: inherit;
	text-decoration: inherit;
}
nav.global abbr {
	text-decoration: inherit !important;
	cursor: inherit !important;
	border: none !important;
}
nav.global {
	background: transparent;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border-bottom: solid #404040 0px;
	position: absolute;
	width: 100%;
	z-index: 1;
  width: auto;
  margin: 0 40px 0 0;
  left: 0;
  right: 0;
  display: block;
}
@media screen and (max-width: 767px) {
	nav.global {
    margin: 0;
	}
}
@media screen and (min-width: 1024px) {
	nav.global {
    margin: 0 auto;
    max-width: 986px;
	}
}
nav.global .inner {
	margin: 0 auto;
	padding: 0;
	max-width: 986px;
	height: 100px;
	position: relative;
}

nav.global ul {
	display: block;
	float: right;
	margin: 0;
	padding: 0;
}
nav.global li {
	font-family: 'Gotham Rounded SSm A', 'Gotham Rounded SSm B', 'Gotham Rounded A', 'Gotham Rounded B', 'Gotham Rounded', sans-serif;
	font-style: normal;
	display: block;
	float: left;
	height: 100px;
	margin: 0;
	/*border-right: solid #707070 1px;*/
}
nav.global li:last-child {
	border-right: none;
}
nav.global li>a {
	display: block;
	height: 100px;
	line-height: 100px;
	color: #b2b2b2;
	padding: 0 13pt;
	font-size: 1.2em;
	/*text-transform: lowercase;*/
}
nav.global li>a:hover {
	/*background: #b2b2b2;*/
	/*color: #404040;*/
}
nav.global li.logo {
	position: absolute;
	float: none;
	top: 0;
	left: 12pt;
	border: none;
	width: 100px;
  height: 100px;
}
nav.global li.logo>a {
	background: #636363;
	color: #ceca13 !important;	
	font-size: 2.5em;
	background-image: url(/res/images/res-logo-min-olive-grey.png); /*/res/images/res-logo-min-olive-grey.png*/
	text-indent: 999999px;
	overflow: hidden;
	width: 100px;
  height: 100px;
	padding: 0px;
	background-size: 100%;
	background-position: 50% 50%;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
	nav.global li.logo>a {
		background-image: url(/res/images/res-logo-min-olive-greyx2.png); /*/res/images/res-logo-min-olive-grey.png*/
	}
}
nav.global li.logo>a:hover {
	color: inherit;
}

@media screen and (max-width: 767px) {
	body.home>header nav.global{
/*		position: relative;
		height: 120px;
		color: #000;*/
	}
	nav.global ul {
    float: right;
    margin-left: 90px;
	}
	nav.global ul li{
    height: auto;
    float: none;
    text-align: right;
    height: 25px;
	}
	nav.global li>a {
  height: auto;
		padding: 0 5pt;
		line-height: 24pt;
	}
	nav.global li.logo>a {
		font-size: 1.5em;
	}
	nav.subnav li>a {
		padding: 0 6pt;
	}
	nav.subnav li:first-child>a {
		padding-left: 4pt;
	}
}
.secondarynav{
  position: absolute;
  top: 115px;
  left: 0px;
  width: 100%;
  background: transparent;
  border-bottom: 0;
  color: white;
  text-align: left;
  z-index: 2;
  font-size: 14px;
}
@media screen and (min-width: 768px){
	.secondarynav {
  	top: 80px;
  	text-align: right;
  	font-size: 16px;
	}
}
.secondarynav .inner {
	max-width: 986px;
	margin: 0 auto;
	padding-left: 10px;
	box-sizing: border-box;
}
@media screen and (min-width: 768px){
	.secondarynav .inner {
		margin: 0 40px 0 0;
		padding-left: 0px;
	}
}
@media screen and (min-width: 1024px){
	.secondarynav .inner {
	    margin: 0 auto;
	}
}
.secondarynav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
} 
.secondarynav li{
	display: inline-block;
}
.secondarynav a{
	padding: 0 5pt;
}
@media screen and (min-width: 768px){
	.secondarynav a{
		padding: 0 13pt;
	}
}