nav.global a:link, nav.global a:visited {
	color: inherit;
	text-decoration: inherit;
}
nav.global abbr {
	text-decoration: inherit !important;
	cursor: inherit !important;
	border: none !important;
}
nav.global {
	background: transparent;
	color: #ffffff;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border-bottom: solid #404040 0px;
	position: absolute;
	width: 100%;
}
nav.global .inner {
	margin: 0 auto;
	padding: 0;
	max-width: 986px;
	height: 60px;
	position: relative;
}
nav.global ul {
	display: block;
	float: right;
	margin: 0;
	padding: 0;
}
nav.global li {
	font-family: 'Gotham Rounded SSm A', 'Gotham Rounded SSm B', 'Gotham Rounded A', 'Gotham Rounded B', 'Gotham Rounded', sans-serif;
	font-style: normal;
	display: block;
	float: left;
	height: 60px;
	margin: 0;
	color: #fff;
	/*border-right: solid #707070 1px;*/
}
nav.global li:last-child {
	border-right: none;
}
nav.global li>a {
	display: block;
	height: 60px;
	line-height: 60px;
	color: #b2b2b2;
	padding: 0 13pt;
	font-size: 1.2em;
	/*text-transform: lowercase;*/
}
nav.global li>a:hover {
	/*background: #b2b2b2;*/
	/*color: #404040;*/
}
nav.global li.logo {
	position: absolute;
	float: none;
	top: 0;
	left: -4px;
	border: none;
	width: 100px;
  height: 60px;
}
nav.global li.logo>a {
	background: #636363;
	color: #ceca13 !important;	
	font-size: 2.5em;
	background: url(/res/images/res-logo-min-olive-grey.png);
	text-indent: -999999px;
	overflow: hidden;
	width: 100px;
  height: 60px;
	padding: 0px;
	background-size: 100%;
	background-position: 50% 50%;
}
nav.global li.logo>a:hover {
	color: inherit;
}