<div class="palette">
	<dl class="colour">
		<dt class="swatch grey4">Light grey</dt>
		<dd class="label grey4"><code>#e6e6e6</code></dd>
	</dl>							
	<dl class="colour">
		<dt class="swatch grey3">Light grey</dt>
		<dd class="label grey3"><code>#d2d2d2</code></dd>
	</dl>
	<dl class="colour">
		<dt class="swatch grey2">Light grey</dt>
		<dd class="label grey2"><code>#b4b4b4</code></dd>
	</dl>
	<dl class="colour">
		<dt class="swatch grey5">Light grey</dt>
		<dd class="label grey5"><code>#848484</code></dd>
	</dl>
	<dl class="colour">
		<dt class="swatch grey1">Light grey</dt>
		<dd class="label grey1"><code>#636363</code></dd>
	</dl>
	<dl class="colour">
		<dt class="swatch grey7">Light grey</dt>
		<dd class="label grey7"><code>#404040</code></dd>
	</dl>
</div>
