body>header {
	margin: -13pt -13pt 1em -13pt;
	padding: 0;
	position: relative;
	border-bottom: solid #e2e2e2 1px;
}
section.legalnotice {
	font-size: 0.85em;
}

body.home>header {
	background: #000;
	color: #e2e2e2;
	border-bottom: none;
}
body.home>header h1 {
	display: none;
}
