body>header {
	margin: -13pt -13pt 1em -13pt;
	padding: 0;
	position: relative;
	border-bottom: solid #e2e2e2 1px;
}
section.legalnotice {
	font-size: 0.85em;
}

body.home>header {
	background: transparent;
	color: #e2e2e2;
	border-bottom: none; 
}

body.book>header .global, body.index>header .global, body.home>header .global{
  color: #fff;
}

body.index>header, body.home>header {
  color: #fff;
}

.education header, .collection header, .developers header, .tech header, .faq header, .book header, .tech-tools header, .tech-guides header{
  color: #fff;
  border-bottom: 0;
}
body.home>header h1 {
  top: 190px;
}
body>header h1, body.index>header h1, .education header h1, .collection header h1, .developers header h1, .tech header h1, .faq header h1 {
    position: absolute;
    left: 0;
    right: 0;
    top: 250px;
    margin: 0 auto !important;
      color: #fff;
}
@media screen and (max-width: 767px) {
  body>header h1, body.index>header h1, body.home>header h1, .education header h1, .collection header h1, .developers header h1, .tech header h1, .faq header h1 {
    top: 150px;
    font-size: 30px;
  }
}