h1, h2, h3, h4, h5, h6 {
	font-family: 'Gotham Rounded SSm A', 'Gotham Rounded SSm B', 'Gotham Rounded A', 'Gotham Rounded B', 'Gotham Rounded', sans-serif;
	font-style: normal;
	padding: 0;
	margin: 13pt 0;
	line-height: 1.2;
}
h2, h3, h4, h5, h6 {
	color: #636363;
}
h1 {
	font-size: 3em;
	font-weight: 300;
}
h2, section h1, body>nav h1 {
	font-size: 1.875em;
	font-weight: 400;
}
h3, section section h1, section h2 {
	font-size: 1.125em;
	font-weight: 500;
}
h4, section section section h1, section section h2, section h3 {
	font-size: 0.875em;
	font-weight: 700;
}
h5, h6, section section section section h1, section section section h2, section section h3, section h4 {
	font-size: 0.75em;
	font-weight: 700;
}
h5, h6, section section section section section h1, section section section section section h2, section section section section section h3, section section section section section h4  {
	text-transform: uppercase;
}
