<h1 class="sample">First-level: Gotham Rounded Light (300) 3em</h1>
<h2 class="sample sample2">Subhead: Gotham Rounded Book (400) 1.875em</h2>
<hr>
<h2 class="sample">Second-level: Gotham Rounded Book (400) 1.875em</h2>
<h3 class="sample sample2">Subhead: Gotham Rounded Medium (500) 1.125em</h3>
<hr>
<h3 class="sample">Third-level: Gotham Rounded Medium (500) 1.125em</h3>
<h4 class="sample sample2">Subhead: Gotham Rounded Bold (700) 0.875em</h4>
<hr>
<h4 class="sample">Fourth-level: Gotham Rounded Bold (700) 0.875em</h4>
<h5 class="sample sample2">Subhead: Gotham Rounded Bold (700) 0.75em</h5>
<hr>
<h5 class="sample">Fifth-level: Gotham Rounded Bold (700) 0.75em all-caps</h5>
<h6 class="sample sample2">Subhead: Gotham Rounded Bold (700) 0.75em all-caps</h6>