body>header h1, body>header h2 {
	margin: 13pt auto;
	max-width: 960px;
	padding: 0 13pt;
}
body>header p {
	font-weight: normal;
	font-style: normal;
	margin: 1.5em auto;
	max-width: 960px;
	padding: 0 13pt;
	color: black;
}
body>header a:link, body>header a:visited {
	text-decoration: inherit;
	color: inherit;
}
body>header .author,body>header .editor {
	font-size: 0.85em;
	font-weight: 300;
}
body>header .editor {
	color: #b2b2b2;
}
body>header .copyright {
	font-size: 0.85em;
	font-weight: 300;
	color: #b2b2b2;	
}