body>header .masthead {
	display: none;
	margin: -1px 0 0 0;
	height: 360px;
  display: block;
  position: relative;
}
@media screen and (max-width: 767px) {
  body>header .masthead {
    height: 220px;
  }
}
body.home>header .masthead {
  height: 500px;
}
body.book>header .masthead, body.index>header .masthead {
	height: 360px;
	border-bottom: solid #636363 1px;
}
/*body.home>header .masthead {
	position: relative;
  padding-bottom: 56.25%;
  padding-top: 9px;
  height: 0;
  overflow: hidden;
  z-index: 0;
  z-index: 0;
}*/
@media screen and (max-width: 767px) {
  body.book>header .masthead, body.index>header .masthead, body.home>header .masthead {
    height: 220px;
  }
  body.home>header .masthead{
    height: 350px;
  }
}
body #mediaPlayerWrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0px;
  height: 0;
  overflow: hidden;
  z-index: 0;
  z-index: 0;
}
body #mediaPlayer{
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  z-index: 0;
}
@media screen and (min-width: 1300px) {
/*  body.home>header .masthead {
    height: 740px;
    padding: 0;

  }*/
  body #mediaPlayer{
    width: 960px !important;
    height: 549px !important;
    margin: auto;
    display: block;
    position: relative;
  }
}
