body>header .masthead {
	display: none;
	margin: -1px 0 0 0;
	background: #b4b4b4;
	height: 2px;
}
body.book>header .masthead, body.index>header .masthead {
	height: 360px;
	border-bottom: solid #636363 1px;
}
body.home>header .masthead {
	height: 360px;
}
