ol {
	counter-reset: listitem;
	list-style-type: none;
}
ol>li:before {
	position: absolute;
	display: inline-block;
	counter-increment: listitem;
	content: counter(listitem, decimal) ". ";
	font-style: italic;
	width: 1.5em;
	text-align: right;
	margin-left: -2em;
}
ol>li>ol>li:before {
	content: counter(listitem, lower-latin) ". ";	
}
ol>li>ol>li>ol>li:before {
	content: counter(listitem, lower-roman) ". ";	
}
