<div class="palette">
	<dl class="colour">
		<dt class="swatch green1">Olive green</dt>
		<dd class="label green1"><code>#ceca13</code></dd>
	</dl>
	<dl class="colour">
		<dt class="swatch green2">Dark olive green</dt>
		<dd class="label green2"><code>#a29f06</code></dd>
	</dl>
	<dl class="colour">
		<dt class="swatch orange2">Orange</dt>
		<dd class="label orange2"><code>#ec7139</code></dd>
	</dl>
	<dl class="colour">
		<dt class="swatch black">Black</dt>
		<dd class="label black"><code>#000000</code></dd>
	</dl>
	<dl class="colour">
		<dt class="swatch white">White</dt>
		<dd class="label white"><code>#ffffff</code></dd>
	</dl>
</div>
