<div class="palette">
	<dl class="colour">
		<dt class="swatch green">Green</dt>
		<dd class="label green"><code>#859900</code></dd>
	</dl>
	<dl class="colour">
		<dt class="swatch yellow">Yellow</dt>
		<dd class="label yellow"><code>#b58900</code></dd>
	</dl>
	<dl class="colour">
		<dt class="swatch orange">Orange</dt>
		<dd class="label orange"><code>#cb4b16</code></dd>
	</dl>
	<dl class="colour">
		<dt class="swatch red">Red</dt>
		<dd class="label red"><code>#dc322f</code></dd>
	</dl>
	<dl class="colour">
		<dt class="swatch magenta">Magenta</dt>
		<dd class="label magenta"><code>#d33682</code></dd>
	</dl>
	<dl class="colour">
		<dt class="swatch violet">Violet</dt>
		<dd class="label violet"><code>#6c71c4</code></dd>
	</dl>
	<dl class="colour">
		<dt class="swatch blue">Blue</dt>
		<dd class="label blue"><code>#268bd2</code></dd>
	</dl>
	<dl class="colour">
		<dt class="swatch cyan">Cyan</dt>
		<dd class="label cyan"><code>#2aa198</code></dd>
	</dl>
</div>
