<div class="table">
	<table class="numeric">
		<caption>iPlayer requests June-August 2012 (millions)</caption>
		<thead>
			<tr>
				<td colspan="2" class="empty"></td>
				<th scope="col">June</th>
				<th scope="col">July</th>
				<th scope="col">August</th>
			</tr>
		</thead>
		<tfoot>
			<th colspan="5">All figures from the <cite><a href="http://www.bbc.co.uk/mediacentre/latestnews/2012/iplayer-performance-jun-aug12.html">BBC iPlayer Performance Pack June to August 2012</a></cite></th>
		</tfoot>
		<tbody>
			<tr>
				<th class="rowgroup" scope="row" rowspan="2">By programme type</th>
				<th scope="row">TV requests</th>
				<td>125</td>
				<td>130</td>
				<td>151</td>
			</tr>
			<tr>
				<th scope="row">Radio requests</th>
				<td>42</td>
				<td>45</td>
				<td>46</td>
			</tr>
		</tbody>

		<tbody>
			<tr>
				<th class="rowgroup" scope="row" rowspan="7">By device type</th>
				<th scope="row">Internet TV</th>
				<td>3</td>
				<td>3</td>
				<td>3</td>
			</tr>
			<tr>
				<th scope="row">TV platform operators</th>
				<td>21</td>
				<td>21</td>
				<td>22</td>
			</tr>
			<tr>
				<th scope="row">Games consoles</th>
				<td>9</td>
				<td>9</td>
				<td>10</td>
			</tr>
			<tr>
				<th scope="row">Computers</th>
				<td>96</td>
				<td>103</td>
				<td>113</td>
			</tr>
			<tr>
				<th scope="row">Tablets</th>
				<td>13</td>
				<td>14</td>
				<td>17</td>
			</tr>
			<tr>
				<th scope="row">Mobile devices</th>
				<td>15</td>
				<td>17</td>
				<td>22</td>
			</tr>

			<tr>
				<th scope="row">Unknown</th>
				<td>9</td>
				<td>9</td>
				<td>10</td>
			</tr>
		</tbody>
	</table>
</div>
