.toc {
	page-break-after: always;
}
.toc > ol li {
	position: relative;
}
.toc > ol li:before {
	position: absolute;
	left: -3.5em;
	min-width: 2em;
	text-align: right;
	content: counters(listitem, ".", decimal) " ";
	font-style: normal;
	font-size: 85%;
	vertical-align: middle;
	display: inline;
	margin: 0;
	color: #666;
}
.toc > ol > li > ol > li > ol li:before {
	content: '';
}
.toc > ol li.frontmatter:before, .toc > ol li.backmatter:before {
	content: '';
	counter-reset: listitem;
}
.toc > ol li.part:before {
	content: '';
}
.toc > ol li.part > a:before {
	content: "Part " counters(listitem, ".", decimal) ": ";
}

aside.sample {
	counter-reset: section1 -1;
}

/* Long-form works have numbered sections */

.book>article { counter-reset: section1; }
.book>article>section>h1:before { counter-increment: section1; content: counter(section1) " "; }
.book>article>section { counter-reset: section2; }
.book>article>section>section>h1:before { counter-increment: section2; content: counter(section1) "." counter(section2) " "; }
.book>article>section>section { counter-reset: section3; }
.book>article>section>section>section>h1:before { counter-increment: section3; content: counter(section1) "." counter(section2) "." counter(section3) " "; }

@media screen and (min-width: 1080px), print {
	article > section h1 {
		position: relative;
	}
	article > section h1:before {
		position: absolute;
		left: -3em;
		min-width: 2.5em;
		text-align: right;	
	}
}